/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body.wp-admin #profile-page h3 {
    display: none;
}

body.wp-admin form#your-profile table .user-rich-editing-wrap,
body.wp-admin form#your-profile table .user-admin-color-wrap,
body.wp-admin form#your-profile table .user-admin-bar-front-wrap,
body.wp-admin form#your-profile table .user-comment-shortcuts-wrap,
body.wp-admin form#your-profile table .show-admin-bar
body.wp-admin form#your-profile table .user-first-name-wrap
body.wp-admin form#your-profile table .user-last-name-wrap,
body.wp-admin form#your-profile table .user-nickname-wrap
body.wp-admin form#your-profile table .user-url-wrap,
body.wp-admin form#your-profile table .user-description-wrap {
    display: none;
}


/* Hide the password hint */
body.wp-admin form#your-profile table .user-pass1-wrap input[type=password]+p.description {
    display: none;
}
/* Hide the password strength indicator */
/*body.wp-admin form#your-profile table .user-pass2-wrap #pass-strength-result,*/
/*body.wp-admin form#your-profile table .user-pass2-wrap #pass-strength-result[style],*/
body.wp-admin form#your-profile table .user-pass2-wrap p.description {
    display: none !important;
}

body.wp-admin form#your-profile table .user-sessions-wrap {
    display: none;
}

/**
WP Forms
*/
.wp-core-ui .button-primary.delete,
.wp-core-ui .button-secondary.delete {
    background-color: #e32f12;
    border-color: #940602;
    box-shadow: 0 1px 0 rgba(234, 41, 0, 1) inset;
    color: #fff;
}

body.wp-admin form #edit-slug-box #sample-permalink {
    visibility: hidden;
    font-size: 0;
}
body.wp-admin form #edit-slug-box #sample-permalink span {
    visibility: visible;
    font-size: 13px;

}
/* TODO - this doesn't work very well and is very fragile.*/
body.wp-admin form #edit-slug-box #view-post-btn,
body.wp-admin form #edit-slug-box a.button-small[href="#"]
{
    display: none;
}

body.wp-admin form #edit-slug-box a.save.button-small {
    display: inline;
}

td.media-icon img[src$=".svg"], img[src$=".svg"].attachment-post-thumbnail {
    width: 100% !important;
    height: auto !important;
}

/* Edit page */

/* remove password protected options*/
#visibility {
    display: none;
}

/* Remove embargo options*/
.misc-pub-section.curtime {
    display: none;
}

/* List pages / posts*/

/*remove 'view' from the quick actions*/
.row-actions span.view {
    display: none;
}

/* replace the WP logo with a Rooftop one */
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
    font: inherit;
}
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .rooftop-icon {
    background: url('/app/mu-plugins/rooftop-admin-theme/admin/images/logo-rooftop-white-vert-no-text.png') no-repeat;
    background-size: 34px;
    background-position: 2px 6px;
    padding: 13px 18px !important;
    display: block;
}
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
    content: "";
}


body.wp-admin table.table tr th {
    text-align: left;
}
